.pokemon {
  margin-bottom: 20px;
  min-height: 310px;
  border: 1px solid #03A9F4; }
  .pokemon__panel-heading {
    background: #03A9F4;
    color: #F9FBE7;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; }
  .pokemon__name::first-letter {
    text-transform: uppercase; }
  .pokemon__panel-body {
    padding: 10px 10px 0 10px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pokemon__image {
    margin-top: 10px;
    display: block;
    width: 100%;
    max-width: 210px;
    margin: auto;
    max-height: 200px; }
  .pokemon__panel-footer {
    padding: 10px 15px; }
  .pokemon__type {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pokemon__type--name {
      display: inline-block;
      margin: 10px 20px;
      cursor: pointer; }
